<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>

  <br/>
  <span class="radio_element">
  <input type="radio" id="info" class="active"
         name="navigationbar" value="info">
  <label for="html">&#128516;</label>
  </span>

  <span class="radio_element">
  <input type="radio" id="produtos"
         name="navigationbar" value="produtos">
         <label for="html">P</label>
  </span>

  <span class="radio_element">
  <input type="radio" id="carrinho"
         name="navigationbar" value="carrinho">
         <label for="html">&#1F6D2;
</label>
  </span>

  <span class="radio_element">
  <input type="radio" id="conta"
         name="navigationbar" value="conta">
         <label for="html">U</label>
  </span>
</div>
