<h1>Be quiet!</h1>
<p>I am your king. Well, she turned me into a newt. A newt? You don't vote for kings.</p>
<p>Look, my liege! He hasn't got shit all over him. <strong> Shut up!</strong> <em> I am your king.</em> You don't vote for kings.</p>
<h2>Bring her forward!</h2>
<p>He hasn't got shit all over him. I am your king. Well, Mercia's a temperate zone! What a strange person.</p>
<ol>

    <li>Did you dress her up like this?</li><li>Ni! Ni! Ni! Ni!</li><li>Be quiet!</li>

</ol>

<h3>Well, we did do the nose.</h3>
<p>Now, look here, my good man. We found them. Who's that then? Well, Mercia's a temperate zone!</p>
<ul>

    <li>And the hat. She's a witch!</li><li>Well, what do you want?</li><li>What do you mean?</li>

</ul>

<p>We want a shrubbery!! Bring her forward! Shut up! Will you shut up?! Camelot! The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
<p>She looks like one. Bloody Peasant! The nose? Well, I got better.</p>
<p>Did you dress her up like this? He hasn't got shit all over him. Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! Ni! Ni! Ni! Ni!</p>
<p>Well, we did do the nose. Shut up! Listen. Strange women lying in ponds distributing swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
<p>What do you mean? No, no, no! Yes, yes. A bit. But she's got a wart. On second thoughts, let's not go there. It is a silly place. Shut up! Will you shut up?!</p>
<p>A newt? And the hat. She's a witch! Shh! Knights, I bid you welcome to your new home. Let us ride to Camelot! On second thoughts, let's not go there. It is a silly place.</p>
<p>Be quiet! She looks like one. Burn her! Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! Well, she turned me into a newt. I dunno. Must be a king.</p>
<p>The Knights Who Say Ni demand a sacrifice! Why do you think that she is a witch? Well, I got better. A newt? What a strange person. Look, my liege!</p>
<p>Shut up! Will you shut up?! Now, look here, my good man. On second thoughts, let's not go there. It is a silly place. What do you mean? Shut up!</p>
<p>Be quiet! Shut up! Will you shut up?! Why? I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
<p>Well, I didn't vote for you. Who's that then? I am your king. Ah, now we see the violence inherent in the system! But you are dressed as one…</p> 