<section>
    <div class="div_container">
        <div class="div_imagem"><img src="../../assets/i
mgs/{{idImagem}}.jpg"/></div>
        <div class="info">
            <div class="div_titulo"><span class="nome_pr
od">Nome do Produto - </span><span class="preco_prod">213,00</span></div>
        </div>
        <div class="alinhada_direita">
          <button>🗑 </button>
          <button>&#10134;</button>
          <button>&#10133;</button>
          <span>qtd</span>
        </div>
    </div>
</section>
