img {
    height: 25px;
}

.alinhada_direita {
  padding-right:10px;
  text-align:right;
}
.div_imagem{
    padding: 3px;
    float: left;
}

.div_container{
    width: 300px;
    float: left;
    border:1px solid gray;
}

.titulo_preco_container{
    position: relative;
}

.nome_prod{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: small;
}

