img {
    height: 25px;
}

span.fonte_pequena{
  padding: 10px;
}

.alinhada_direita {
  padding-right: 10px;
  text-align: right;
}

.alinhada_esquerda{
  padding-left: 10px;
  text-align: left;
}

.fonte_pequena {
  font-size: smaller;
}
.div_imagem{
    padding: 3px;
    float: left;
}

.div_container{
    /*float: left;*/
    border:1px solid gray;
}

.titulo_preco_container{
    position: relative;
}

.nome_prod, .preco_prod{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: small;
}

