img {
    height: 50px;
}

.alinhada_direita {
  padding-right:10px;
  text-align:right;
}
.div_imagem{
    padding: 5px;
    float: left;
}

.div_container{
    width: 300px;
    float: left;
    border:1px solid gray;
}

.titulo_preco_container{
    position: relative;
}

.nome_prod, .preco_prod{
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: small;
}
.desc_prod{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
 }

 .noCarrinho{
    background-color: rgb(0, 255, 0);
 }

 .naoNoCarrinho{
    background-color: gray;
 }

 button {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }

  .visivel{
    display:inline;
  }

  .invisivel{
    display:none;
  }


/*Remove decoração do input de número*/
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
/*Fim*/
